  <body>
    <% if admin_signed_in? %>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark" style="background-color: #FFCC99;">
          <div class="container-fluid">
            <div clas="col-auto bg-light border navbar-brand">
              <%= image_tag src="rogo3.jpg", size: "200x150" %>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="pr-3">
                  <%= link_to admin_anglers_path,class: "nav-link text-dark rounded border border-danger", style: "background-color: #FA6800;" do %>
                    会員一覧
                  <% end %>
                </li>
                <li class="pr-3 pl-3">
                  <%= link_to admin_fishing_successes_path,class: "nav-link text-dark rounded border border-danger", style: "background-color: #FA6800;" do %>
                    投稿一覧
                  <% end %>
                </li>
                <li class="pr-3 pl-3">
                  <%= link_to admin_root_path,class: "nav-link text-dark rounded border border-danger", style: "background-color: #FA6800;" do %>
                    コメント一覧
                  <% end %>
                </li>
                <li class="pl-3">
                  <%= link_to destroy_admin_session_path, method: :delete,class: "nav-link text-dark rounded border border-danger", style: "background-color: #FA6800;" do %>
                    ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>
  </body>