<main style="background-color: #F9F7ED;" >
  <div class="container-fluid">
    <div class="row">
      <%= render 'public/link' %>
      <div class="col-4 my-5 mx-3 py-2 rounded border border-dark" style="background-color: #F5F5F5;">
        <%= form_with model: @fishing_success, local: true, url: fishing_successes_path, method: :post do |f| %>
          <div class="row justify-content-md-center rounded-circle border border-dark mx-5 py-1" style="background-color: #31D2F2;">
            今回の釣果
          </div>
          <div class="row justify-content-md-center border-bottom border-dark my-2">
            <%= current_angler.name %>
          </div>
          <% if @fishing_success.errors.any? %>
            <div>
              <ul style="color: red">
                <% @fishing_success.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <span class="text-danger fw-lighter">(必須)</span>
            <%= f.label :image, '写真' %>
            <%= f.file_field :image, accept: 'image/*' %>
          </div>
          <div class="form-group">
            <span class="text-danger fw-lighter">(必須)</span><%= f.label :fishing_day, '釣行日' %>
            <%= f.datetime_field :fishing_day %>
          </div>
          <div class="check_box">
            <span class="text-danger fw-lighter">(必須)</span><span>釣果（魚種）選択</span></br>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :tackle, 'タックル' %></br>
            <%= f.text_field :tackle %>
          </div>
          <div class="form-group">
            <%= f.label :method, '釣り方' %></br>
            <%= f.text_field :method %>
          </div>
          <div class="form-group">
            <span class="text-danger fw-lighter">(必須)</span><%= f.label :fishing_spot, '都道府県' %>
            <%= f.select :fishing_spot, FishingSuccess.fishing_spots.keys.map {|k| [k, k]}, {include_blank: "---"}, {} %>
          </div>
          <div class="form-group">
            <span class="text-danger fw-lighter">(必須)</span>＊緯度経度をマップから検索＊</br>
            <%= f.label :lat, '緯度' %>
            <%= f.text_field :lat,:value =>"", id: :lat %></br>
            <%= f.label :lng, '経度' %>
            <%= f.text_field :lng,:value =>"", id: :lng %>
          </div>
          <div class="form-group">
            <%= f.label :situation, '今回の釣果状況' %></br>
            <%= f.text_area :situation %>
          </div>
          <div class="row">
            <div class="col text-center my-2">
              <%= f.submit '投稿', class: "btn btn-info px-3" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col mt-5">

        <input id="address" type="textbox" value="GeekSalon">
        <input type="button" value="検索" onclick="codeAddress()">
        <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
        <div id='map'></div>

        <style>
        #map {
          height: 600px;
          width: 600px;
        }
        </style>

        <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: 35.6803997, lng:139.7690174},  //東京
            zoom: 15,

          });
        }

        let geocoder
        let aft
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                //マーカーが複数できないようにする
                if (aft == true){
                    marker.setMap(null);
                }

                //新しくマーカーを作成する
                map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true	// ドラッグ可能にする
                });

                aft = true

                //検索した時に緯度経度を入力する
                document.getElementById('lat').value = results[0].geometry.location.lat();
                document.getElementById('lng').value = results[0].geometry.location.lng();


                // マーカーのドロップ（ドラッグ終了）時のイベント
                google.maps.event.addListener( marker, 'dragend', function(ev){
                    // イベントの引数evの、プロパティ.latLngが緯度経度
                    document.getElementById('lat').value = ev.latLng.lat();
                    document.getElementById('lng').value = ev.latLng.lng();
                });

            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }


        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
      </div>
    </div>
  </div>
</main>