<%= render 'public/header' %>
<main style="background-color: #F9F7ED;">
  <div class="container mx-0">
    <div class="row">
      <div class="col-2 border-right border-dark" style="background-color: #F5F5F5;">
        <div class="row justify-content-md-center border-bottom border-dark">地域から探す</div>
        <div></div>
      </div>
      <div class="col-4 my-5 mx-3 py-2 rounded border border-dark" style="background-color: #F5F5F5;">
        <%= form_with model: @fishing_success, url: fishing_successes_path, method: :post do |f| %>
          <div class="row justify-content-md-center rounded-circle border border-dark mx-5 py-1" style="background-color: #31D2F2;">
            今回の釣果
          </div>
          <div class="row justify-content-md-center border-bottom border-dark my-2">
            <%= current_angler.name %>
          </div>
          <div class="form-group">
            <%= f.label :image, '写真' %>
            <%= f.file_field :image, accept: 'image/*' %>
          </div>
          <div class="form-group">
            <%= f.label :fishing_day, '釣行日' %></br>
            <%= f.datetime_field :fishing_day %>
          </div>
          <div class="form-group">
            <%= f.label :species, '釣果（魚種）' %></br>
            <%= f.text_field :species %>
          </div>
          <div class="form-group">
            <%= f.label :place, '釣れた場所' %></br>
            <%= f.text_field :place %>
          </div>
          <div class="form-group">
            <%= f.label :lat, '緯度' %></br>
            <%= f.text_field :lat %>
          </div>
          <div class="form-group">
            <%= f.label :lng, '経度' %></br>
            <%= f.text_field :lng %>
          </div>
          <div class="form-group">
            <%= f.label :situation, '今回の釣果状況' %></br>
            <%= f.text_area :situation %>
          </div>
          <div class="row">
            <div class="col text-center my-2">
              <%= f.submit '投稿', class: "btn btn-info btn-sm px-3" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</main>