<%= render 'public/header' %>
<main style="background-color: #F9F7ED;">
  <div class="container mx-0">
    <div class="row">
      <div class="col-2 border-bottom border-right border-dark" style="background-color: #F5F5F5;">
        <div class="row justify-content-center border-bottom border-dark">地域から探す</div>
        <div></div>
      </div>
      <div class="col-1"></div>
      <div class="col-8">
        <div class="row justify-content-center my-3">
          <div class="col-3 border-right rounded-circle border border-dark text-white text-center py-1" style="background-color: #6D8764;">
            釣果詳細
          </div>
        </div>
        <div class="row justify-content-center rounded-top border border-dark" style="background-color: #F5F5F5;">
          <div class="col text-center my-2">
            <%= image_tag @fishing_success.angler.get_profile_image(30,30), class: "rounded-circle" %>
            <%= @fishing_success.angler.name %>
          </div>
        </div>
        <div class="row border-right border-left border-dark" style="background-color: #F5F5F5;">
          <div class="col px-3">
            <%= @fishing_success.fishing_day.strftime("%m月%d日の釣果")  %>
          </div>
          <div class="col px-3">
            釣れた場所
          </div>
        </div>
        <div class="row border-right border-left border-dark" style="background-color: #F5F5F5;">
          <div class="col px-3">
            <div class="row">
              <div class="col">
                <%= image_tag @fishing_success.get_image, :size =>'300x250' %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>コメント件数：<%= @fishing_success.comments.count %></p>
              </div>
              <div class="col border-0">
                <% if @fishing_success.favorited_by?(current_angler) %>
                <p>
                  <%= link_to fishing_success_favorites_path(@fishing_success), method: :delete, class: "favorite" do %>
                    ♥<%= @fishing_success.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to fishing_success_favorites_path(@fishing_success), method: :post, class: "not-favorite" do %>
                    ♡<%= @fishing_success.favorites.count %> いいね
                  <% end %>
                </p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col px-3">

            <div id='map'></div>

            <style>
            #map {
              height: 300px;
              width: 100%;
            }
            </style>

            <script>
            let map
            let marker
            function initMap(){
              geocoder = new google.maps.Geocoder()

              map = new google.maps.Map(document.getElementById('map'), {
                center:  {lat: <%= @fishing_success.lat %>, lng: <%= @fishing_success.lng %>},
                zoom: 15,
              });

              marker = new google.maps.Marker({
                position:  {lat: <%= @fishing_success.lat %>, lng: <%= @fishing_success.lng %>},
                map: map
              });
            }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

          </div>
        </div>
        <div class="row border-right border-left border-dark px-3" style="background-color: #F5F5F5;">
          <div class="col">
            <table width="100%">
              <tr class="border-bottom border-dark">
                <th class="pt-3">釣果</th>
                <td class="pt-3"><%= @fishing_success.species %></td>
              </tr>
              <tr class="border-bottom border-dark">
                <th class="pt-3">タックル</th>
                <td class="pt-3"><%= @fishing_success.tackle %></td>
              </tr>
              <tr class="border-bottom border-dark">
                <th class="pt-3">釣り方</th>
                <td class="pt-3"><%= @fishing_success.method %></td>
              </tr>
            </table>
          </div>
          <div class="col">
            <div class="row px-3">
              <div class="col text-right text-warning">
                Google Map へ移動
              </div>
            </div>
            <div class="row px-3">
              <div class="col bg-white rounded border border-dark" style="height: 80px;">
                <%= @fishing_success.situation %>
              </div>
            </div>
            <div class="row px-3">
              <div class="col">
                <%= image_tag @fishing_success.angler.get_profile_image(30,30), class: "rounded-circle" %>
                <%= @fishing_success.angler.name %>からの情報！
              </div>
            </div>
          </div>
        </div>
        <div class="row text-right border-right border-left border-dark px-2" style="background-color: #F5F5F5;">
          <%= link_to fishing_successes_path, style: "color: #FFAE00" do %>
            <i class="fas fa-map-marker-alt"></i>
            〇〇県での釣果情報！
          <% end %>
        </div>
        <div class="row border-right border-left border-dark pt-3 px-2" style="background-color: #F5F5F5;">
          <div class="col">
            <%= image_tag current_angler.get_profile_image(30,30), class: "rounded-circle" %>
            <%= current_angler.name %>
          </div>
        </div>
        <div class="row border-right border-left border-dark px-2" style="background-color: #F5F5F5;">
          <div class="col-12 text-right">
            <%= form_with model: [@fishing_success, @comment] do |f| %>
              <%= f.text_area :content, placeholder: "コメントをする", class: "form-control form-control-sm" %>
              <%= f.submit "送信する", class: "mb-3 mt-1 rounded-pill border-0", style: "background-color: #9999FF" %>
            <% end %>
          </div>
        </div>
        <div class="row border-right border-left border-dark">
          <div class="col" style="color: #FFFFFF; background-color: #666666;">
            <%= @fishing_success.comments.count %>件のコメント
          </div>
        </div>
        <div class="row rounded-bottom border-right border-left border-bottom border-dark mb-5" style="background-color: #FFFFFF;">
          <% @fishing_success.comments.each do |comment| %>
            <div class="col-3 mb-3">
              <%= image_tag comment.angler.get_profile_image(30,30), class: "rounded-circle" %>
              <%= comment.angler.name %>
            </div>
            <div class="col-7 mb-3">
              <%= comment.content %>
            </div>
            <div class="col-2 mb-3" style="color: #999999;">
              <%= comment.created_at.strftime('%m月%d日') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>