<main class="px-0" style="background-color: #F9F7ED; height: 1000px;">
  <div class="container mx-0">
    <div class="row">
      <%= render 'public/link' %>
      <div class="col">
        <div class="row justify-content-center my-3">
          <div class="col text-center fs-3 fw-bold" style="color: #FFAE00;">
            投稿履歴
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col text-center">
            ＊投稿画像をクリックすると釣果詳細が見られます＊
          </div>
        </div>
        <div class="row ml-5 pl-5">
          <% @fishing_successes.each do |fishing_success| %>
            <div class="col-3 ml-5 my-2">
              <%= link_to fishing_success_path(fishing_success), class: "link" do %>
                <div class="row justify-content-center rounded-top border border-dark link" style="background-color: #F5F5F5;">
                  <div class="col text-center my-2">
                    <%= image_tag fishing_success.angler.get_profile_image(30,30), class: "rounded-circle" %>
                    <%= fishing_success.angler.name %>
                  </div>
                </div>
                <div class="row border-right border-left border-dark" style="background-color: #F5F5F5;">
                  <div class="col px-3">
                    <%= fishing_success.fishing_day.strftime("%m月%d日の釣果")  %>
                  </div>
                </div>
                <div class="row border-right border-left border-dark" style="background-color: #F5F5F5;">
                  <div class="col">
                    <%= image_tag fishing_success.get_image, :size =>'200x150' %>
                  </div>
                </div>
              <% end %>
              <div class="row border-right border-left border-dark" style="background-color: #F5F5F5;">
                <div class="col">
                  <p>コメント<%= fishing_success.comments.count %>件</p>
                </div>
                <div class="col border-0">
                  <% if fishing_success.favorited_by?(current_angler) %>
                  <p>
                    <%= link_to fishing_success_favorites_path(fishing_success), method: :delete, class: "favorite" do %>
                      ♥<%= fishing_success.favorites.count %>いいね
                    <% end %>
                  </p>
                  <% else %>
                  <p>
                    <%= link_to fishing_success_favorites_path(fishing_success), method: :post, class: "not-favorite" do %>
                      ♡<%= fishing_success.favorites.count %>いいね
                    <% end %>
                  </p>
                  <% end %>
                </div>
              </div>
              <div class="row border-right border-left border-dark px-3" style="background-color: #F5F5F5;">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      投稿者からの情報！
                    </div>
                  </div>
                  <div class="row px-3">
                    <div class="col bg-white rounded border border-dark scr" style="height: 80px;">
                      <%= fishing_success.situation %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row border-right rounded-bottom border-left border-bottom border-dark py-2" style="background-color: #F5F5F5;">
                <div class="col">
                  <%= link_to fishing_successes_path(fishing_spot: fishing_success.fishing_spot), style: "color: #FFAE00" do %>
                    <i class="fas fa-map-marker-alt"></i>
                    <%= fishing_success.fishing_spot %>での釣果
                  <% end %>
                </div>
                <div class="col-auto">
                  <%= link_to "削除",fishing_success_path(fishing_success), class: "btn btn-secondary btn-sm" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-auto">
            <%= paginate @fishing_successes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>