<main>
  <div class="container-fluid">
    <div class="row justify-content-center pt-4">
      <div class="col-10 col-md-4 mt-5">
        <div class="row justify-content-center" style="color: #FF0000;">
          ＊必須項目は必ずご記入ください
        </div>
        <div class="row rounded border border-dark" style="background-color: #FFF;">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <% if @angler.errors.any? %>
              <div>
                <ul style="color: red">
                  <% @angler.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group mx-md-5 mt-3">
              <span class="text-danger fw-lighter">(必須)</span>ニックネーム</br>
              <%= f.text_field :name, style: "width:100%" %>
            </div>
            <div class="form-group mx-md-5 mt-3">
              <span class="text-danger fw-lighter">(必須)</span>メールアドレス</br>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%" %>
            </div>
            <div class="form-group mx-md-5 mt-3">
              <span class="text-danger fw-lighter">(必須)</span>
              パスワード
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %></br>
              <%= f.password_field :password, autocomplete: "current-password", style: "width:100%" %>
            </div>
            <div class="form-group mx-md-5 mt-3">
              <span class="text-danger fw-lighter">(必須)</span>パスワード確認</br>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width:100%" %>
            </div>
            <div class="form-group mx-md-5 mt-3">
              プロフィール画像</br>
              <%= f.file_field :profile_image, accept: "image/*", style: "width:100%" %>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto my-3">
                <%= f.submit '新規登録', class: "btn btn-lg px-4", style: "background-color: #1BA1E2; color: #FFF;" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row justify-content-left mt-2">
          <div class="col-auto" style="background-color: #E6E6E6;">
            すでに登録済みの方
          </div>
        </div>
        <div class="row justify-content-left" >
          <div class="col-aut">
            <%= render "public/shared/links" %>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-auto my-3">
            <%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post, class: "btn btn-lg px-4", style: "background-color: #60A917; color: #FFF;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>