<%= render 'public/header' %>
<main style="background-color: #F9F7ED;">
  <div class="container mx-0">
    <div class="row justify-content-center pt-4">
      <div class="col-6 mt-4">
        <div class="row rounded-top border border-dark" style="background-color: #FFF;">
          <div class="col text-center fs-4">
            ログイン
          </div>
        </div>
        <div class="row justify-content-left border-right border-left border-dark pt-3" style="background-color: #FFF;">
          <div class="col-auto ml-5" style="background-color: #E6E6E6;">
            会員の方はこちらからログイン
          </div>
        </div>
        <div class="row border-right border-left border-dark" style="background-color: #FFF;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row justify-content-md-center px-4">
              <table width="100%">
                <tr>
                  <th class="pt-5">メールアドレス</th>
                  <td class="pt-5"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                </tr>
                <tr>
                  <th class="pt-5">パスワード</th>
                  <td class="pt-5"><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
              </table>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto my-4">
                <%= f.submit 'ログイン', class: "btn btn-lg px-4", style: "background-color: #1BA1E2; color: #FFF;" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row justify-content-left border-right border-left border-dark pt-4" style="background-color: #FFF;">
          <div class="col-auto ml-5" style="background-color: #E6E6E6;">
            会員登録がお済みでない方
          </div>
        </div>
        <div class="row border-right border-left border-bottom border-dark py-4 mb-4" style="background-color: #FFF;">
          <div class="col text-center">
            <%= render "public/shared/links" %>
          </div>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col-auto my-5">
            <%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post, class: "btn btn-lg px-4", style: "background-color: #60A917; color: #FFF;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



