<div class="col-2 border-right border-bottom border-dark" style="background-color: #F5F5F5;">
  <div class="row justify-content-md-center py-3">
    <%= form_with url: fishing_successes_path, method: :get, class: 'boards__searchForm' do %>
      <div class="col-auto">
        魚種から探す
        <%= select_tag :tag_id,
                        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                        {
                          prompt: '魚種選択',
                          class: 'form-control boards__select btn btn-warning',
                          onchange: 'submit(this.form);'
                        }
        %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-md-center py-3">
    <%= form_with url: fishing_successes_path, method: :get, class: 'boards__searchForm' do |f| %>
      <div class="col-auto">
        都道府県から探す
        <%= f.select :fishing_spot, FishingSuccess.fishing_spots.keys, {},class: 'form-control boards__select btn btn-warning',onchange: 'submit(this.form);' %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-md-center py-3">
      <div class="col">
        <%= link_to root_path, class: "btn btn-warning" do %>
          投稿一覧
        <% end %>
      </div>
  </div>
  <div class="row justify-content-center py-3">
      <div class="col-auto">
        <%= link_to new_fishing_success_path, data: {"turbolinks" => false}, class: " btn btn-warning" do %>
          釣果投稿
        <% end %>
      </div>
  </div>
  <div class="row justify-content-md-center py-3">
      <div class="col-auto">
        <%= link_to anglers_mypage_path, class: "btn btn-warning" do %>
          マイページ
        <% end %>
      </div>
  </div>
  <div class="row justify-content-md-center py-3">
      <div class="col-auto">
        <%= link_to anglers_favorites_path, class: "btn btn-warning" do %>
          お気に入り
        <% end %>
      </div>
  </div>
  <div class="row justify-content-md-center py-3">
      <div class="col-auto">
        <%= link_to anglers_fishing_successes_path, class: "btn btn-warning" do %>
          投稿履歴
        <% end %>
      </div>
  </div>
</div>